@font-face {
  font-family: "iconfont"; /* Project id 2579580 */
  src: url('//at.alicdn.com/t/font_2579580_ajriz9s7hes.woff2?t=1622306560512') format('woff2'),
       url('//at.alicdn.com/t/font_2579580_ajriz9s7hes.woff?t=1622306560512') format('woff'),
       url('//at.alicdn.com/t/font_2579580_ajriz9s7hes.ttf?t=1622306560512') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e63b";
}

.icon-wodedangxuan:before {
  content: "\e607";
}

.icon-cart-Empty:before {
  content: "\e747";
}

.icon-leimupinleifenleileibie2:before {
  content: "\e7f8";
}

.icon-V:before {
  content: "\e727";
}
